/* Font */
@font-face{
  font-family: 'bif';
  src: url("../images/font.ttf");
}


/* Universal Selector */
*{
  color: white;
  text-align: center;
}

html{
  scroll-behavior: smooth;
}

/* Elements */
body {
  height: auto;
  width: auto;
  margin: 30px;
  padding: 20px;
  font-size: 0.9em;
  font-family: 'bif';
  background-position: center;
  background-image: url("../images/background.png");
  background-size: cover;
  background-attachment: fixed;
  animation: popdown 1s ease-in-out forwards;
}

footer {
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 25px;
  width: fit-content;
  height: fit-content;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: yellow;
}


code {
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  background-color: #2e2e2e;  
  color: #00ff00;
}

 strong {
   color: orange;
 }

yellow {
  color: cyan;
}

/* Classes */
.pfp {
  margin: 15px;
  height: 156px;
  animation: popup 1.25s ease-in-out forwards;
  border-radius: 15px;
}

/* IDs */
#text {
  background: rgba(0, 0, 0, 0.2);    /* Semi-transparent background */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Soft shadow */
  padding: 20px;
  margin: 20px;
  border-color: rgba(127,127,127,0.2);
  border-width: 2px;
  border-spacing: 10px;
  border-style: solid;
}

#container{
  background: rgba(0, 0, 0, 0.2);    /* Semi-transparent background */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Soft shadow */
  padding: 0;
  margin: 0;
  border-color: rgba(127,127,127,0.2);
  border-width: 2px;
  border-spacing: 10px;
  border-style: solid;
  animation: popup 2s ease-in-out forwards;
}

#about {
  animation: popleft 1.5s ease-in-out forwards;
}

#nav {
  animation: popright 2s ease-in-out forwards;
}

/* Keyframes */
@keyframes popup {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes popdown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes popright {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes popleft {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}