/* Universal Selector */
*{
  color: rgba(0,255,0,0.8);
}

html{
  scroll-behavior: smooth;
}

/* Elements */
body {
  height: 100vh;
  width: auto;
  text-align: center;
  margin: 40px;
  padding: 20px;
  color: black;
  font-size: 1.1em;
  font-weight: lighter;
  font-family: monospace;
  background-image: url("../images/background.png");
  background-size: cover;
  background-attachment: fixed;
  animation: popdown 1s ease-in-out forwards;
}

footer {
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 25px;
  width: fit-content;
  height: fit-content;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: yellowgreen
}


code {
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  background-color: #2e2e2e;  
  color: #00ff00;
}

/* Classes */
.pfp {
  background: rgba(0, 0, 0, 0.4);    /* Semi-transparent background */
  border-radius: 15px;                     /* Rounded corners */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Soft shadow */
  padding: 20px;
  margin: 20px;
  border-color: rgba(0,255,0,0.2);
  border-width: 2px;
  border-spacing: 10px;
  border-style: solid;
  height: 165px;
  animation: popup 1.25s ease-in-out forwards;
}

/* IDs */
#text {
  background: rgba(0, 0, 0, 0.2);    /* Semi-transparent background */
  border-radius: 15px;                     /* Rounded corners */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Soft shadow */
  padding: 20px;
  margin: 20px;
  border-color: rgba(0,255,0,0.2);
  border-width: 2px;
  border-spacing: 10px;
  border-style: solid;
}

#about {
  animation: popleft 1.5s ease-in-out forwards;
}

#nav {
  animation: popright 2s ease-in-out forwards;
}

/* Keyframes */
@keyframes popup {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes popdown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes popright {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes popleft {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}